// eslint-disable-next-line import/no-anonymous-default-export
export default {
  title: 'Luvely Words',
  description: 'An online card filled with love from you to someone special',
  canonical: 'https://www.luvelywords.com/',
  openGraph: {
    url: 'https://www.luvelywords.com/',
    title: 'Luvely Words',
    description: 'An online card filled with love from you to someone special',
    images: [
      {
        url: 'https://res.cloudinary.com/demibk/image/upload/v1656962584/lyvely/home/Luvely_Words_1_ujvtc4.png',
        width: 800,
        height: 600,
        alt: 'Luvely Words Alt',
        type: 'image/png',
      },
      {
        url: 'https://res.cloudinary.com/demibk/image/upload/v1656962584/lyvely/home/Luvely_Words_1_ujvtc4.png',
        width: 900,
        height: 800,
        alt: 'Luvely Words Alt Second',
        type: 'image/png',
      },
      {
        url: 'https://res.cloudinary.com/demibk/image/upload/v1656962584/lyvely/home/Luvely_Words_1_ujvtc4.png',
      },
      {
        url: 'https://res.cloudinary.com/demibk/image/upload/v1656962584/lyvely/home/Luvely_Words_1_ujvtc4.pngg',
      },
    ],
    site_name: 'luvely-words',
  },
};
